body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding_all: 0 10%;
  --flex_direction: row;
  --lang: inter;
  --direction: ltr;
  --text-align: left;
}


@font-face {
  font-family: inter;
  src: url(component/styles/font/static/Inter-Medium.ttf);
}

@font-face {
  font-family: vazir;
  src: url(component/styles/font/vazir-font-v16.1.0/Vazir-Medium.ttf);
}

a {
  text-decoration: none;
}

input {
    background-color: transparent;
    border: none !important;
    outline: none !important;
    font-family: var(--lang);
}

@media only screen and (max-width: 1300px) {
  :root {
    --padding_all: 0 6%
  }
}

@media only screen and (max-width: 1150px) {
  :root {
    --padding_all: 0 3%
  }
}

/* @media only screen and (max-width: 980px) {
  :root {
    --padding_all: 0
  }
} */

